<!DOCTYPE html>
<title>Mini application</title>
<head>
    <h1>Mini Application for docker</h1>
    <div>This application is for Docker and then deployment on Kubernetes</div>
</head>

<body>
    <h2>Welcome to the full automation!</h2>
    <a href="/">Home </a>
    <a href="https://hub.docker.com/repositories/asingopaul"> Docker </a>
    <a href="Home"> K8 </a>
    <a href="Home"> Linux </a>
    <a href="https://github.com/asingo-paul/docker_app_deploment_on_kubernetes">Github</a>

    <h2>
        Requirements
    </h2>
    <ul>
        <li>
            Docker - To build, ship and run our application
        </li>
        <li>
            Kubernetes - Open source for deployment, scaling of application
        </li>
        <li>
            Python flask - Framework for this minimum application
        </li>
        <li>
            Dockerfile - We will use this file to create a docker image
        </li>
        <li>
            Localhost - Our host machine
        </li>
        <li>
            Linux - Our main OS
        </li>
    </ul>
    
    <div>
          <input type="radio" id="yes" name="close" value="yes" />
          <label for="yes">I agree terms and conditions when i press Click Me!</label>
    </div>
    <button class="favorite styled" type="button">Click Me</button>
    
    <footer>
        <p>Author: ASINGO PAUL<br>
        <a href="mailto:paulasingo32.com">paulasingo32.com</a></p>
    </footer>
</body>